.portfolio-item{
    display: flex;
    flex-flow: column;
}
.portfolio-image{   
    width: 100;
    height: 233px;
    top: 104px;
    background-position: center;
    background-size: cover;
}
.portfolio-name{
    text-align: center;
}
@media screen and (max-width: 700px){
    .portfolio-image{
        width: 100%;
        height: 233px;
        top: 104px;
        background-position: center;
        background-size: cover;
    }
    
    
}