.collection-item{
    width: 284px;
    padding: 10px;
    height: 420px;
    text-align: center;
    background-color: #dfe3e6;
}
.collection-item hr{
    width: 80%;
    margin: 0 auto;
    border: 2px solid #000000;
}
.large{
    width: 315px;
    height: 490px;
    margin-top: -30px;
    box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.3);
    background-color: #fecb16;

}
.book-now{
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}
@media screen and (max-width: 1024px){
    .collection-item{
        margin: 0 auto;
        width: 300px;
        padding: 10px;
        height: 420px;
        border: 1px solid black;
        text-align: center;
        margin-top: 30px;
    }
    .large{
        width: 300px;
        height: 420px;
        box-shadow: none;
        
    }
    
    
}
@media screen and (max-width: 700px){
    .collection-item{
        width: 100%;
    }
    
    
    
}
button{
    text-align: center;
    background-color: #fff;
    color: #000;
}