.gallery-item{
    border: 1px solid red;
    width: 100%;
}
.gallery-image{
    border: 1px solid black;
    width: 100%;
    height: 429.71px;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 1024px){
    .gallery-image{
        margin: 0 auto;
        width: 93% ;
        padding: 10px;
        height: 420px;
        border: 1px solid black;
        text-align: center;
        margin-top: 30px;
    }
    
    
}